@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --font-main: "Roboto", monospace;

  --clr-text-main: #e0e0e0;
  --clr-base: #fff;
  --clr-accent: #e3001b;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

body {
  position: relative;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  backface-visibility: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("./img/bg3.jpg") center/cover scroll no-repeat;
  animation: slideBg 20s ease-in-out infinite 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg {
  0%,
  100% {
    background: url("./img/bg3.jpg") center/cover scroll no-repeat;
  }
  25% {
    background: url("./img/bg1.jpg") center/cover scroll no-repeat;
  }
  50% {
    background: url("./img/bg6.jpg") center/cover scroll no-repeat;
  }
  75% {
    background: url("./img/bg8.jpg") center/cover scroll no-repeat;
  }
}

#navigation {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.3rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
#navigation img {
  width: 180px;
}
#navigation ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

@media (max-width: 1300px) {
  #navigation ul {
    flex-direction: column;
    align-items: center;
  }
  #navigation ul li {
    margin-bottom: 0.3rem;
  }
}

#navigation ul a {
  text-decoration: none;
  color: var(--clr-base);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  /* margin-right: 1rem; */
}

#navigation ul a {
  transition: all 0.3s ease;
}

#navigation ul a:hover {
  color: var(--clr-accent);
}

.cta {
  width: 50%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
}
.cta h1 {
  color: var(--clr-text-main);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-shadow: -5px 3px 2px rgba(0, 0, 0, 1);
}

@media (max-width: 1300px) {
  .cta h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 886px) {
  .cta h1 {
    margin-top: 10rem;
  }
}

.button-div {
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .button-div {
    flex-direction: column;
    align-items: center;
  }

  .button-div button:nth-of-type(2) {
    margin-top: 1rem;
  }
}

.button-div button {
  font-family: inherit;
  padding: 1rem 1rem;
  font-size: 0.95rem;
  border: none;
  color: var(--clr-text-main);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-div button:hover {
  color: var(--clr-accent);
  font-weight: 600;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));
}

.racing-1 {
  height: 100vh;
  background: url("./img/bg5.jpg") center/cover fixed no-repeat;
}

aside {
  position: fixed;
  top: 50%;
  right: 0px;
}

.socials {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  border-radius: 3px;
}

.socials i {
  font-size: 1rem;
  padding: 0.6rem;
  color: lightslategray;
  border-bottom: 1px solid lightslategrey;
  transition: all ease 0.5ms;
}

.fa-twitter:hover {
  color: #00acee;
}
.fa-discord:hover {
  color: #7289da;
}
.fa-youtube:hover {
  color: #b2071d;
}
.fa-envelope:hover {
  color: goldenrod;
}
